body {
    background-color: #abc7c7;
    margin: 0;
}


.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-45-div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-div-content {
    text-align: center;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.margin-0 {
    margin: 0;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}


.yellow-background {
    background-color: #ffcb05;
}

.blue-background {
    background-color: #2dbec0;
}

.button {
    width: 80%;
    height: 40px;
    border-radius: 20px;
    background-color: #ffcb05;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    width: 100%;
    height: 8%;
    background: white;
    position: absolute;
    bottom: 0
}

nav > ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-inline: 10%;
    top: 15%;
    position: relative
}

.navigation-button {
    background: none;
    border: none;
}

#svgNav1, #svgNav2, #svgNav3 {
    stroke: #808080;
    transition: stroke 0.5s ease-in-out;
}

#Nav1, #Nav2, #Nav3 {
    position: relative;
    top: 1px;
    left: -20%;
    height: 5px;
    width: 140%;
    background-color: white;
    transition: background-color 0.5s ease-in-out;
}

.page-header {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.page-header > h1 {
    color: #ffcb05;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.page-header > h1::first-letter {
    color: #ffcb05;
}

.page-header > a > svg {
    cursor: pointer;
    height: 100%;
    stroke: #808080;
    transition: fill 0.5s ease-in-out;
}

.content-list{
    position: absolute;
    left: 0;
    top: 45px;
    padding: 15px;
    margin: 0;
    width: 100%;
    height: calc(100% - 13%);
    list-style: none;
}
.content-list > li{
    margin-bottom: 30px;
}
.list-form{
    position: relative;
    width: 100%;
}
.list-item{
    width: 100%;
    height: 100%;
    background: #228c57;
    display: flex;
    border-radius: 10px;
}
.list-image {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 10px;
    transform: rotate(-20deg);
/*    text size*/
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-name{
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.list-name> p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #e3e3e3;
}
.list-name >h1{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}
.list-delete-button{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    background: #ffcb05;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.content-list-food {
    position: absolute;
    list-style: none;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 20%);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 25px;
    padding-inline: 15px;
    margin: 0px;
    /*background-color: #000000;*/
}

.adding-form{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-image{
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    font-size: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
}
.form-input-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form-input-div > p{
    margin: 0;
    width: 30%;
    padding: 10px;
    padding-inline-end: 100px;
    text-align: center;
    font-weight: bold;
}
.form-input-div > input{
    /*width: 70%;*/
    /*padding: 10px;*/
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.adding-form > button{
    position: absolute;
    width: 80%;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #ffcb05;
    font-weight: bold;
    cursor: pointer;
}