@{
    ViewData["Title"] = "HouseHolds";
}

<style>
    #svgNav3 {
        stroke: #ffcc00;
    }
    #Nav3 {
        background-color: #ffcc00;
    }
</style>

<div class="page-header">
    <a>
    
    </a>
    <h1>Profile</h1>
    <a>
        
    </a>
</div>