@using fridgechecker.Utilities
@model Food

@{
    ViewData["Title"] = "HouseHolds";
}

<style xmlns="http://www.w3.org/1999/html">
    #svgNav1 {
        stroke: #ffcc00;
    }
    #Nav1 {
        background-color: #ffcc00;
    }
</style>

<div class="page-header">
    <a asp-action="Index">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 12l14 0"/>
            <path d="M5 12l4 4"/>
            <path d="M5 12l4 -4"/>
        </svg>
    </a>
    <h1>Add Food</h1>
    <a style="width: 44px">

    </a>
</div>
    
<form class="adding-form">
    @if (Model.Image != null && Model.Image != "")
    {
        <button asp-action="ChooseIcon" class="form-image"> @Model.Image </button>
        <input type="hidden" asp-for="Image" value="@ViewHelpers.EmojiToUnicode(Model.Image)"/>
    }
    else
    {
        <button asp-action="ChooseIcon" class="form-image"> +</button>
    }
    <div class="form-input-div">
        <p>Name:</p>
        <input asp-for="Name"/>
    </div >
    <div class="form-input-div">
        <p>Description:</p>
        <input asp-for="Description"/>
    </div>
    <div class="form-input-div">
        <p>Expiration date:</p>
        <input type="date" asp-for="ExpirationDate"/>
    </div >
    <div class="form-input-div">
        <p>Amount:</p>
        <input asp-for="Amount"/>
    </div>
    <div class="form-input-div">
        <p>Amount type:</p>
        <select asp-for="AmountType">
            <option>l</option>
            <option>ml</option>
            <option>kg</option>
            <option>g</option>
            <option>pcs</option>
        </select>
    </div >
    <div class="form-input-div">
        <p>Food type:</p>
        <select asp-for="Type">
            <option>Meat</option>
            <option>Vegetables</option>
            <option>Fruits</option>
            <option>Drinks</option>
            <option>Other</option>
        </select>
    </div>
    <button class="add-button" asp-action="AddFood">Add</button>
</form>