@{
    ViewData["Title"] = "HouseHolds";
}

<style>
    #svgNav1 {
        stroke: #ffcc00;
    }
    #Nav1 {
        background-color: #ffcc00;
    }
</style>

<div class="page-header">
    <a asp-action="Back">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 12l14 0"/>
            <path d="M5 12l4 4"/>
            <path d="M5 12l4 -4"/>
        </svg>
    </a>
    <h1>Food</h1>
    <a asp-action="Add">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 5l0 14"/>
            <path d="M5 12l14 0"/>
        </svg>
    </a>
</div>

<ul class="content-list-food">
    <li>
        <a asp-action="" class="list-item">
            <div class="list-image">🥩</div>
            <div class="list-name">
                <h1>Chicken</h1>
                <p>12.2.2024</p>
            </div>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M18 6l-12 12"/>
                    <path d="M6 6l12 12"/>
                </svg>
            </button>
            <p>2 kg</p>
        </a>
    </li>
</ul>

