@{
    ViewData["Title"] = "Home Page";
}

<div class="top-45-div width-80 center-div-content">
    <h1 class="margin-bottom-40">Welcome to FridgeChecker</h1>
    
    @* <p>Learn about <a style="background: #ffcc00"  href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p class="margin-0">An aplication for helping you keep track of your food in the fridge.</p>
    <p style="color: white; font-weight: bold;">So you dont have to.</p>
    
    <button class="button">get started</button>
</div>